.toast-message { 
    // background: darkgrey;
}

.no-padding {
    padding-right: 0; 
     padding-left: 0px; 
 }
 
 .cardwidth {
		width : calc(100% - 10px);
 }
 
.no-lap{
white-space : normal;
text-align: justify;

}
